@charset "utf-8";
@use './module/mixins' as *;
@use './module/variables' as *;

#container.page{
    padding-top: 0;
    padding-bottom: 25px;
}
.page{
    min-height: 100vh;
    &__header{
        height: 68px;
        position: relative;
    }
    .btn_back{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
        width: 26px;
        height: 26px;
        background: url('../images/arrow_left.png') no-repeat center/100% auto;
    }
    &__title{
        font-size: 24px;
        font-weight: 800;
        margin-bottom: 22px;
    }
    .desc1{
        color: #0C0C0C;
        span{
            font-weight: 700;
        }
    }
}
// .join, .login, .password{
//     padding: 0 20px;
// }
.interest{
    padding: 50px 20px 0;
    &__desc2{
        margin: 16px 0 12px;
        color: #939393;
        font-size: 14px;
    }
    &__desc3{
        font-size: 14px;
        color: #F366B4;
    }
    &__choice{
        padding: 30px 0 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .wrap{
            width: 33.333%;
            display: flex;
            justify-content: center;
            margin-bottom: 24px;
        }
        .image{
            width: 76px;
            height: 76px;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        p{
            margin: 8px 0 0;
        }
        .all{
            .image{
                background: #CECECE;
                &:before{
                    content: '';
                    position: absolute;
                    width: 31px;
                    height: 24px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background: url('../images/all.png') no-repeat center/100% auto;
                }
            }
        }
        button{
            &.is-selected{
                .image{
                    &:after{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: url('../images/interest_seleted.png') no-repeat center/100% auto;
                    }
                }
                p{
                    font-weight: 700;
                }
            }
        }
    }
    &__complete{
        padding: 232px 0 130px;
        text-align: center;
        color: #0C0C0C;
        position: relative;
        &--title{
            font-size: 24px;
            font-weight: 800;
            margin-bottom: 22px;
        }
        &:before{
            content: '';
            position: absolute;
            top: 80px;
            left: 50%;
            transform: translateX(-50%);
            width: 130px;
            height: 130px;
            background: url('../images/interest_complete.png') no-repeat center/100% auto;
        }
    }
}
.complete{
    padding: 50px 20px 0;
    &__wrap{
        padding: 232px 0 130px;
        text-align: center;
        color: #0C0C0C;
        position: relative;
        &:before{
            content: '';
            position: absolute;
            top: 80px;
            left: 50%;
            transform: translateX(-50%);
            width: 130px;
            height: 130px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% auto;
        }
        &.interesting{
            &:before{
                background-image: url('../images/interest_complete.png');
            }
        }
        &.reset{
            &:before{
                background-image: url('../images/password_complete.png');
            }
        }
    }
    &--title{
        font-size: 24px;
        font-weight: 800;
        margin-bottom: 22px;
    }
}
.password{
    .btn_pink{
        margin-top: 36px;
    }
}
.agree{
    &__box{
        margin: 20px 0 30px;
        padding: 16px 14px;
        background: rgba(231, 231, 231, 0.4);
        border-radius: 7px;
        label{
            font-weight: 700;
        }
    }
    &__list{
        padding: 0 14px 50px;
        &--onecheck{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 25px;
        }
        .btn_view{
            display: block;
            font-weight: 700;
            font-size: 14px;
            color: #939393;
            text-decoration-line: underline;
        }
    }
}
.mypage{
    &__profile{
        display: flex;
        gap: 25px;
        align-items: center;
        .image{
            width: 68px;
            height: 68px;
            border-radius: 50%;
            overflow: hidden;
            img{
                object-fit: cover;
            }
        }
        p{
            color: #0C0C0C;
            font-weight: 700;
            font-size: 17px;
        }
    }
    &__list{
        margin: 54px 0 0;
        a{
            display: block;
            padding: 12px 30px;
            margin-bottom: 12px;
            color: #0C0C0C;
            font-size: 17px;
            position: relative;
            &:before{
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100% auto;
            }
            &:after{
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 20px;
                height: 20px;
                background: url('../images/arrow_right.png') no-repeat center/100% auto;
            }
        }
        &--info{
            &:before{
                background-image: url('../images/icon_info.png');
            }
        }
        &--activity{
            &:before{
                background-image: url('../images/icon_activity.png');
            }
        }
        &--agreement{
            &:before{
                background-image: url('../images/icon_agreement.png');
            }
        }
    }
    &__version{
        margin: 36px 0 180px;
        >p{
            padding: 12px 0;
            border-bottom: 1px solid #595959;
            color: #0C0C0C;
            font-size: 17px;
        }
        div{
            padding: 12px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 15px;
            span{
                color: #F366B4;
            }
        }
    }
    &__logout{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
        .btn{
            display: block;
            font-size: 15px;
            color: #5B5B5B;
            &:nth-of-type(1){
                position: relative;
                &:after{
                    content: '';
                    position: absolute;
                    right: -12px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 1px;
                    height: 10px;
                    background-color: #939393;
                }
            }
        }
    }
}