@import url("https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css");
@font-face {
  font-family: "SUITE";
  font-weight: 400;
  src: local("SUITE Regular"), url("../font/SUITE-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "SUITE";
  font-weight: 500;
  src: local("SUITE Medium"), url("../font/SUITE-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "SUITE";
  font-weight: 700;
  src: local("SUITE Bold"), url("../font/SUITE-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "SUITE";
  font-weight: 800;
  src: local("SUITE ExtraBold"), url("../font/SUITE-ExtraBold.woff2") format("woff2");
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

div, p, li, span, em, strong, a {
  word-break: keep-all;
  word-wrap: break-word;
}

body {
  font-family: "SUITE", sans-serif;
  letter-spacing: -0.01em;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  color: #000;
}

h1, h2, h3, h4, h5 {
  font-size: 1em;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border: 0 none;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select, textarea {
  vertical-align: middle;
  box-sizing: border-box;
  border-radius: 0;
  font-family: "SUITE", sans-serif;
  font-size: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input {
  margin: 0;
}
input::-ms-clear {
  display: none;
}

select::-ms-expand {
  display: none;
}

img, fieldset {
  border: 0;
}

ul, ol, li {
  list-style-type: none;
}

li img {
  vertical-align: top;
}

button {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  font-family: "SUITE", sans-serif;
  font-size: 1em;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
  font-size: 0;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition-delay: 20ms;
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

html {
  font-size: 16px;
}

body.nav-opens, body.layer-opens {
  overflow: hidden;
}
body.nav-opens header .inner:after {
  display: block;
}
body.nav-opens header .mobile_menu {
  display: block;
}

#wrapper {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

#container {
  position: relative;
  padding-top: 62px;
}

header {
  width: 100%;
  height: 62px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}
header .logo {
  width: 145px;
}
header .logo img {
  width: 100%;
}
header .btn_mypage {
  display: block;
  width: 28px;
  height: 28px;
  background: url("../images/icon_user.png") no-repeat center/100% auto;
}
header .btn_join {
  display: block;
  width: 28px;
  height: 28px;
  background: url("../images/icon_join.png") no-repeat center/100% auto;
}

section {
  padding: 0 20px;
}

.category {
  padding: 5px 8px;
  border: 1px solid #000;
  font-size: 14px;
  line-height: 25px;
  color: #000;
  font-weight: 700;
}
.category.black {
  color: #fff;
  background-color: #000;
  border: none;
}
.category.small {
  font-size: 11px;
}
.category__choice--btn {
  border: 1px solid #CECECE;
  border-radius: 7px;
  font-size: 14px;
  text-align: left;
  width: 100%;
  position: relative;
  padding: 11px 12px;
  color: #6F6F6F;
}
.category__choice--btn:after {
  content: "";
  position: absolute;
  right: 12px;
  top: 14px;
  width: 15px;
  height: 9px;
  background: url("../images/arrow_select.png") no-repeat center/100% auto;
}

.btn_inquire {
  display: block;
  position: fixed;
  right: 15px;
  bottom: 8px;
  color: #fff;
  font-size: 11px;
  font-weight: 800;
  width: 54px;
  height: 54px;
  background: #F366B4;
  box-shadow: 0px 2.25px 11.25px rgba(243, 102, 180, 0.5);
  border-radius: 50%;
  text-align: center;
  padding-top: 31px;
  z-index: 1;
}
.btn_inquire:before {
  content: "";
  position: absolute;
  top: 11px;
  left: 50%;
  transform: translateX(-50%);
  width: 22px;
  height: 20px;
  background: url("../images/icon_inquire.png") no-repeat center/100% auto;
}
.btn_pink {
  width: 100%;
  height: 50px;
  background: #F366B4;
  border-radius: 6px;
  color: #FFFFFF;
  font-size: 15px;
}
.btn_pink:disabled {
  background-color: rgba(243, 102, 180, 0.5);
}
.btn_choice {
  padding: 8px 30px 8px 45px;
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 4px;
  font-weight: 700;
  line-height: 25px;
  font-size: 14px;
  position: relative;
  margin: 19px 0 67px;
}
.btn_choice:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  width: 20px;
  height: 20px;
  background: url("../images/icon_check.png") no-repeat center/100% auto;
}
.btn_black {
  width: 100%;
  border-radius: 4px;
  background: #000;
  padding: 8px;
  font-weight: 700;
  line-height: 25px;
  font-size: 14px;
  color: #FFF;
}

.box {
  padding-top: 24px;
  position: relative;
  margin-top: 20px;
}
.box label {
  font-size: 14px;
  color: #0C0C0C;
  position: absolute;
  top: 0;
  left: 0;
  padding-right: 10px;
  font-weight: 700;
}
.box .title {
  font-size: 14px;
  color: #0C0C0C;
  position: absolute;
  top: 0;
  left: 0;
  padding-right: 10px;
  font-weight: 700;
}
.box input {
  border: 1px solid #CECECE;
  border-radius: 7px;
  font-size: 14px;
  padding: 11px 12px;
  width: 100%;
  margin-bottom: 7px;
}
.box input::placeholder {
  color: #CECECE;
}
.box input:disabled {
  background-color: rgba(231, 231, 231, 0.5);
}
.box input:disabled::placeholder {
  color: #5B5B5B;
}
.box .btn_check {
  width: 75px;
  height: 42px;
  background: #0C0C0C;
  border-radius: 7px;
  color: #fff;
  font-size: 14px;
  flex: 0 0 auto;
}
.box .btn_check:disabled {
  background-color: rgba(12, 12, 12, 0.3);
}
.box .btn_check.success {
  padding-left: 20px;
  position: relative;
}
.box .btn_check.success:before {
  content: "";
  width: 15px;
  height: 13px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  background: url("../images/icon_check_pink.png") no-repeat center/100% auto;
}
.box.check .check_wrap {
  display: flex;
  gap: 7px;
}
.box.required label:after {
  content: "*";
  color: #F366B4;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.box.pwd input {
  padding-right: 48px;
}
.box.pwd .btn_password {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 33px;
  right: 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  background-image: url("../images/icon_pwd_show.png");
}
.box.pwd .btn_password.show {
  background-image: url("../images/icon_pwd_hide.png");
}
.box .message {
  font-size: 14px;
  color: #FF0000;
}
.box .btn_wrap {
  display: flex;
  justify-content: space-between;
}
.box .btn_wrap button {
  width: calc((100% - 8px) / 2);
  height: 45px;
  background: rgba(231, 231, 231, 0.5);
  border-radius: 7px;
  font-size: 14px;
  color: #5B5B5B;
}
.box .btn_wrap button.is-seleted {
  background: #F366B4;
  color: #FFFFFF;
}
.box .btn_wrap button:disabled {
  background: #F9B3DA;
  color: #FFFFFF;
}
.box.count input {
  padding-right: 66px;
}
.box .num {
  font-size: 14px;
  color: #F366B4;
  position: absolute;
  top: 35px;
  right: 14px;
}

.text_box {
  text-align: center;
  font-size: 14px;
  padding: 36px 0;
}
.text_box p {
  color: #5B5B5B;
  margin-bottom: 8px;
}
.text_box a {
  text-decoration-line: underline;
  color: #F366B4;
  font-weight: 700;
}

.radio_btn,
.checkbox_btn,
.checkbox_agree,
.checkbox_notice,
.checkbox_notice_large {
  position: relative;
}
.radio_btn input,
.checkbox_btn input,
.checkbox_agree input,
.checkbox_notice input,
.checkbox_notice_large input {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  visibility: hidden;
  overflow: hidden;
}

.checkbox_btn {
  margin-top: 5px;
}
.checkbox_btn label {
  color: #5B5B5B;
  position: relative;
  cursor: pointer;
  padding-left: 23px;
  font-size: 14px;
}
.checkbox_btn label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-color: #fff;
  font-size: 14px;
  background: url("../images/checkbox.png") no-repeat center/100% auto;
}
.checkbox_btn input:checked + label:before {
  background: url("../images/checkbox_checked.png") no-repeat center/100% auto;
}

.checkbox_agree label {
  color: #0C0C0C;
  position: relative;
  cursor: pointer;
  padding-left: 34px;
  font-size: 15px;
}
.checkbox_agree label:before {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  background-image: url("../images/agree_checkbox.png");
}
.checkbox_agree input:checked + label:before {
  background: url("../images/agree_checkbox_checked.png");
}

.checkbox_notice label {
  color: #5B5B5B;
  position: relative;
  cursor: pointer;
  font-size: 14px;
  display: block;
  font-weight: 500;
}
.checkbox_notice label:before {
  content: "";
  position: absolute;
  right: 0;
  top: -2px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  background-image: url("../images/agree_checkbox.png");
}
.checkbox_notice input:checked + label:before {
  background: url("../images/agree_checkbox_checked.png");
}

.checkbox_notice_large {
  padding: 25px 20px;
}
.checkbox_notice_large label {
  color: #0C0C0C;
  position: relative;
  cursor: pointer;
  height: 33px;
  display: block;
  font-weight: 500;
  line-height: 33px;
  font-weight: 700;
}
.checkbox_notice_large label:before {
  content: "";
  position: absolute;
  right: 0;
  top: -2px;
  width: 52px;
  height: 33px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  background-image: url("../images/checkbox_large.png");
}
.checkbox_notice_large input:checked + label:before {
  background: url("../images/checkbox_large_checked.png");
}

.select_wrap {
  display: flex;
  gap: 8px;
}

.select_box {
  border: 1px solid #CECECE;
  border-radius: 7px;
  font-size: 14px;
  width: 100%;
  margin-bottom: 7px;
  position: relative;
}
.select_box button {
  color: #6F6F6F;
  width: 100%;
  text-align: left;
}
.select_box .select_btn {
  position: relative;
  padding: 11px 12px;
}
.select_box .select_btn:after {
  content: "";
  position: absolute;
  right: 12px;
  top: 14px;
  width: 15px;
  height: 9px;
  background: url("../images/arrow_select.png") no-repeat center/100% auto;
}
.select_box .list_wrap {
  color: #6F6F6F;
  position: absolute;
  width: calc(100% + 2px);
  top: -1px;
  left: -1px;
  background-color: #fff;
  z-index: 1;
  border: 1px solid #CECECE;
  border-radius: 7px;
  padding: 11px 12px;
  display: none;
}
.select_box .list_wrap span {
  opacity: 0;
}
.select_box .list {
  padding-left: 8px;
  overflow-y: scroll;
  max-height: 205px;
}
.select_box .list li {
  margin-top: 10px;
}
.select_box.is-active {
  border-color: transparent;
}
.select_box.is-active .select_btn {
  z-index: 2;
}
.select_box.is-active .select_btn:after {
  transform: rotate(-180deg);
}
.select_box.is-active .list_wrap {
  display: block;
}
.select_box.small {
  border: 1px solid red;
  border: none;
  margin-top: 30px;
}
.select_box.small .select_btn {
  color: #000;
  font-weight: 700;
}
.select_box.small .select_btn:after {
  top: 11px;
  width: 16px;
  height: 17px;
  background: url("../images/arrow_select2.png") no-repeat center/100% auto;
}
.select_box.small .item {
  color: #5B5B5B;
  font-weight: 700;
}

.search {
  position: relative;
  margin-bottom: 22px;
}
.search input {
  border: 1px solid #CECECE;
  border-radius: 7px;
  font-size: 14px;
  width: 100%;
  padding: 12px 55px 12px 40px;
  margin-bottom: 0;
}
.search input::placeholder {
  color: #6F6F6F;
  font-size: 14px;
}
.search:before {
  content: "";
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url("../images/icon_search.png") no-repeat center/100% auto;
}
.search .btn_search {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 55px;
  font-weight: 700;
  color: #F366B4;
}

.detail__head {
  border-radius: 0px 0px 16px 16px;
  border-bottom: 1px solid #EDEDED;
  background: #FFF;
  box-shadow: 0px 4px 14px -4px rgba(0, 0, 0, 0.06);
  padding: 27px 15px;
}
.detail__head--info1 {
  padding: 0 10px;
}
.detail__head--info1 .title {
  font-weight: 800;
  font-size: 22px;
  margin: 16px 0 6px;
}
.detail__head--info1 .info1 {
  display: flex;
  gap: 21px;
}
.detail__head--info1 .name {
  color: #535353;
  font-size: 12px;
}
.detail__head--info1 .date {
  color: #B0B0B0;
  font-size: 12px;
}
.detail__head--info2 {
  margin-top: 21px;
  display: flex;
  border-radius: 12px;
  background: #F8F8F8;
  padding: 11px 15px;
  gap: 10px;
  justify-content: space-between;
}
.detail__head--info2 a, .detail__head--info2 button {
  display: flex;
  gap: 6px;
  padding-left: 28px;
  color: #6D6D6D;
  font-size: 12px;
  font-weight: 500;
  position: relative;
  flex-wrap: wrap;
}
.detail__head--info2 a:before, .detail__head--info2 button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  width: 24px;
  height: 24px;
}
.detail__head .like:before {
  background-image: url("../images/icon_heart_grey.png");
}
.detail__head .like.is-active:before {
  background-image: url("../images/icon_heart_full_l.png");
}
.detail__head .comment:before {
  background-image: url("../images/icon_comment.png");
}
.detail__head .share:before {
  background-image: url("../images/icon_share_l.png");
}
.detail__content {
  padding-top: 16px;
}
.detail__content .item {
  padding: 24px 0;
  border-top: 1px solid #D6D6D6;
}
.detail__content .item:nth-of-type(1) {
  border: 0;
}
.detail__content--title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 12px;
}
.detail__content--desc {
  line-height: 20px;
  font-size: 14px;
  color: #252423;
  word-break: break-all;
}
.detail__content--image {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.detail__content--image a {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
}
.detail__content--image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.detail__content--youtube {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 56.25%;
}
.detail__content--youtube .youtube {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.detail__pagination .button {
  display: flex;
  padding: 20px 0 20px 23px;
  align-items: center;
  gap: 12px;
  position: relative;
}
.detail__pagination .button:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  width: 19px;
  height: 19px;
  background-image: url("../images/arrow_down_pink.png");
}
.detail__pagination .prev {
  border-bottom: 1px solid #E0E0E0;
}
.detail__pagination .next:before {
  transform: rotate(180deg) translateY(50%);
}
.detail__pagination .name {
  font-weight: 500;
  font-size: 14px;
  color: #F366B4;
}
.detail__pagination .title {
  font-size: 12px;
  color: #5B5B5B;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.detail__pagination .title .category {
  margin-right: 10px;
}

.file__box {
  margin-bottom: 27px;
}
.file__title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 13px;
}
.file__list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.file__list label {
  display: flex;
  width: 62.5px;
  height: 62.5px;
  font-size: 13px;
  color: #F366B4;
  border: 2px dashed rgba(168, 168, 168, 0.5);
  border-radius: 12px;
  align-items: center;
  justify-content: center;
}
.file__list .image {
  width: 62.5px;
  height: 62.5px;
  border-radius: 12px;
  background-color: #F8F8F8;
  overflow: hidden;
}
.file__list img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.layer {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.layer.is-open {
  width: 100%;
  height: 100%;
}
.layer.is-hidden {
  width: 0;
  height: 0;
  overflow: hidden;
  padding: 0;
}
.layer .inner {
  width: calc(100% - 30px);
  padding: 25px 20px;
  border-radius: 18px;
  background: #FFF;
  box-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.06);
}
.layer .head {
  position: relative;
  display: flex;
  height: 34px;
  align-items: center;
  margin-bottom: 20px;
}
.layer .head .title {
  font-size: 14px;
  font-weight: 700;
}
.layer .head .btn_close {
  width: 34px;
  height: 34px;
  background: url("../images/icon_close.png") no-repeat center/100% auto;
  position: absolute;
  top: 0;
  right: 0;
}
.layer .content .title {
  text-align: center;
  color: #5B5B5B;
  font-weight: 500;
  margin-bottom: 30px;
}
.layer .content .btn_group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.layer .content .button {
  width: 124px;
  height: 41px;
  font-weight: 700;
  line-height: 25px;
  padding: 8px;
  border-radius: 4px;
}
.layer .content .btn_white {
  border: 1px solid #000;
  background: #fff;
  color: #000;
}
.layer_notice .inner {
  width: calc(100% - 48px);
  background-color: transparent;
  box-shadow: none;
  padding: 0;
}
.layer_notice .inner img {
  width: 100%;
}
.layer_notice .btn {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  height: 40px;
}
.layer_notice .btn_group {
  display: flex;
}
.layer_notice .btn_noshow {
  width: 60%;
  position: relative;
}
.layer_notice .btn_noshow:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 1px;
  height: 25px;
  background-color: #fff;
}
.layer_notice .btn_close {
  width: 40%;
}
.layer_inquire .head .title {
  padding-left: 38px;
  position: relative;
}
.layer_inquire .head .title:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: url("../images/icon_msg.png") no-repeat center/100% auto;
}
.layer_category .inner {
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}
.layer_category .interest__choice {
  padding: 30px 10px 0;
  background-color: #fff;
  border-radius: 18px 18px 0 0;
}
.layer_category .interest__choice .wrap {
  margin-bottom: 15px;
}
.layer_category .interest__choice .image {
  width: 69px;
  height: 69px;
}
.layer_category .interest__choice .title {
  position: absolute;
}
.layer_category .btn_pink {
  border-radius: 0 0 18px 18px;
}
.layer_mypage_image .inner {
  padding-bottom: 50px;
}
.layer_mypage_image .image {
  border-radius: 12px;
  height: 80vw;
  overflow: hidden;
}
.layer_mypage_image .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.layer_mypage_image .count {
  display: flex;
  gap: 5px;
  color: #939393;
}
.layer_mypage_image .current {
  color: #5B5B5B;
}
.layer_mypage_image .total {
  color: #939393;
}
.layer_mypage_image .btn {
  width: 17px;
  height: 17px;
  background: url("../images/btn_slide.png") no-repeat center/100% auto;
}
.layer_mypage_image .btn_group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.layer_mypage_image .btn_prev {
  transform: rotate(180deg);
}
.layer .inquire_title {
  width: 100%;
  padding: 14px;
  color: #5B5B5B;
  font-size: 14px;
  border-radius: 12px;
  background: #F8F8F8;
  border: none;
  margin: 12px 0 16px;
}
.layer .inquire_content {
  width: 100%;
  height: 138px;
  padding: 14px;
  color: #5B5B5B;
  font-size: 14px;
  border-radius: 12px;
  background: #F8F8F8;
  border: none;
  resize: none;
  margin-bottom: 10px;
}
.layer .inquire_content.basic {
  height: 238px;
  margin-bottom: 22px;
}

.main section {
  padding: 35px 0 67px;
}
.main__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 22px;
  margin-bottom: 26px;
}
.main__title {
  font-size: 22px;
  font-weight: 700;
  padding-left: 21px;
  position: relative;
  letter-spacing: -0.3px;
}
.main__title:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 10px;
  height: 21px;
  background: url("../images/icon_half.png") no-repeat center/100% auto;
}
.main .main__banner {
  padding: 0;
}
.main .main__project {
  padding-bottom: 30px;
}
.main__banner {
  position: relative;
}
.main__banner--slide img {
  width: 100%;
}
.main__banner .count {
  position: absolute;
  right: 24px;
  bottom: 30px;
  font-size: 18px;
  color: #fff;
}
.main__banner .current {
  position: absolute;
  bottom: 12px;
  right: 20px;
}
.main__banner .current:after {
  content: "/";
  position: absolute;
  right: -8px;
  top: 11px;
  font-size: 12px;
}
.main__info .main__head {
  margin-bottom: 6px;
}
.main__info--slide {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.main__info .item {
  padding: 27px 14px 24px;
  display: block;
  border: 1px solid #EDEDED;
  box-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  background: #FFFFFF;
}
.main__info .title {
  margin: 16px 0 10px;
  font-size: 20px;
  font-weight: 800;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main__info .desc {
  font-size: 14px;
  letter-spacing: -1%;
  line-height: 19px;
  color: #5B5B5B;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.main__info .info1 {
  margin: 11px 0 14px;
  display: flex;
  align-items: center;
  gap: 21px;
}
.main__info .name {
  font-size: 14px;
  line-height: 25px;
  color: #535353;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main__info .date {
  font-size: 12px;
  line-height: 25px;
  color: #B0B0B0;
}
.main__info .info2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main__info .info2 p {
  font-size: 12px;
  position: relative;
}
.main__info .info3 {
  display: flex;
  align-items: center;
  gap: 20px;
}
.main__info .info3 p {
  color: #939393;
}
.main__info .comment {
  padding-left: 25px;
}
.main__info .comment:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 19px;
  background: url("../images/icon_bubble.png") no-repeat center/100% auto;
}
.main__info .share {
  padding-left: 22px;
}
.main__info .share:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url("../images/icon_share.png") no-repeat center/100% auto;
}
.main__info .like {
  color: #010101;
  padding-left: 27px;
}
.main__info .like:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 19px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-image: url("../images/icon_heart.png");
}
.main__info .like.is-seleted:before {
  background-image: url("../images/icon_heart_full.png");
}
.main__info--progress {
  padding: 0 23px;
  margin-top: 10px;
}
.main__info--progress .bar {
  height: 3px;
  background-color: #EAE7E1;
  border-radius: 1.5px;
  position: relative;
}
.main__info--progress .bar:after {
  content: "";
  position: absolute;
  top: -11px;
  right: 0;
  width: 18px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  background-image: url("../images/progress_bar.png");
  z-index: -1;
  transition: 1s;
}
.main__info--progress .bar span {
  height: 3px;
  display: block;
  border-radius: 1.5px;
  background-color: #666666;
  transition: 0.5s;
}
.main__info--progress.full .bar:after {
  background-image: url("../images/progressbar_full.png");
}
.main__project .image {
  position: relative;
}
.main__project .image:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.64) 48.96%, rgba(0, 0, 0, 0) 100%);
  transform: rotate(-180deg);
}
.main__project .image img {
  width: 100%;
}
.main__project .participant {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 15px 10px;
}
.main__project .owner {
  display: flex;
  gap: 10px;
  font-size: 11px;
  color: #fff;
}
.main__project .owner img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}
.main__project .owner p {
  font-weight: 700;
}
.main__project .person {
  display: flex;
  margin-left: 4px;
}
.main__project .person img {
  width: 26px;
  height: 26px;
  margin-left: -4px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}
.main__project .person img:nth-of-type(1) {
  z-index: 4;
}
.main__project .person img:nth-of-type(2) {
  z-index: 3;
}
.main__project .person img:nth-of-type(3) {
  z-index: 2;
}
.main__project .person img:nth-of-type(4) {
  z-index: 1;
}
.main__project .person .count {
  min-width: 26px;
  padding: 0 5px;
  height: 26px;
  border: 1px solid #fff;
  border-radius: 13px;
  background-color: #7E7E7E;
  font-size: 9px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -4px;
  z-index: 0;
}
.main__project .text {
  display: block;
  padding: 30px 23px;
  position: relative;
  color: #000;
}
.main__project .date {
  font-size: 11px;
  color: #6D6D6D;
  position: absolute;
  right: 23px;
  top: 40px;
  font-weight: 700;
}
.main__project .title {
  font-size: 22px;
  font-weight: 800;
  margin: 12px 0 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main__project .desc {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main__project .btn {
  display: block;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-radius: 4px;
  width: calc((100% - 13px) / 2);
  font-weight: 700;
}
.main__project .btn_group {
  margin-top: 23px;
  display: flex;
  justify-content: space-between;
}
.main__project .btn_like {
  border: 1px solid #000;
  padding-right: 12px;
}
.main__project .btn_like span {
  position: relative;
  padding-left: 24px;
}
.main__project .btn_like span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 19px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  background-image: url("../images/project_icon_heart.png");
}
.main__project .btn_like.is-seleted span:before {
  background-image: url("../images/project_icon_heart_full.png");
}
.main__project .btn_detail {
  background-color: #000;
  color: #fff;
}
.main__project .category {
  font-size: 12px;
}
.main__notice--list {
  padding: 0 13px;
}
.main__notice--list li:nth-of-type(1) a {
  padding-top: 0;
  border-top: 0;
}
.main__notice--list a {
  display: block;
  padding: 20px 0 22px;
  border-top: 1px solid #E0E0E0;
}
.main__notice--list p {
  padding-left: 10px;
}
.main__notice--list .title {
  margin: 12px 0 4px;
  font-size: 14px;
  color: #000;
  font-weight: 800;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main__notice--list .desc {
  font-size: 14px;
  color: #000;
  margin-bottom: 8px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.main__notice--list .date {
  font-size: 12px;
  color: #6D6D6D;
}
.main__notice .category {
  font-size: 12px;
}
.main .btn_more {
  color: #000;
  font-size: 14px;
  padding-right: 15px;
  position: relative;
}
.main .btn_more:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background: url("../images/icon_plus.png") no-repeat center/100% auto;
}

#container.page {
  padding-top: 0;
  padding-bottom: 25px;
}

.page {
  min-height: 100vh;
}
.page__header {
  height: 68px;
  position: relative;
}
.page__header.with_title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page__header--title {
  font-weight: 500;
  font-size: 17px;
}
.page__header.absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.page__header.revert .page__header--title {
  color: white;
}
.page__header.revert .btn_back {
  background: url("../images/arrow_left_white.png") no-repeat center/100% auto;
}
.page .btn_back {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  width: 26px;
  height: 26px;
  background: url("../images/arrow_left.png") no-repeat center/100% auto;
}
.page__title {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 22px;
}
.page .desc1 {
  color: #0C0C0C;
}
.page .desc1 span {
  font-weight: 700;
}

.interest {
  padding: 50px 20px 0;
}
.interest__desc2 {
  margin: 16px 0 12px;
  color: #939393;
  font-size: 14px;
}
.interest__desc3 {
  font-size: 14px;
  color: #F366B4;
}
.interest__choice {
  padding: 30px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.interest__choice .wrap {
  width: 33.333%;
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}
.interest__choice .image {
  width: 76px;
  height: 76px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interest__choice .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.interest__choice p {
  margin: 8px 0 0;
}
.interest__choice .all .image {
  background: #CECECE;
}
.interest__choice .all .image:before {
  content: "";
  position: absolute;
  width: 31px;
  height: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../images/all.png") no-repeat center/100% auto;
}
.interest__choice button.is-selected .image:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/interest_seleted.png") no-repeat center/100% auto;
}
.interest__choice button.is-selected p {
  font-weight: 700;
}
.interest__complete {
  padding: 232px 0 130px;
  text-align: center;
  color: #0C0C0C;
  position: relative;
}
.interest__complete--title {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 22px;
}
.interest__complete:before {
  content: "";
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 130px;
  height: 130px;
  background: url("../images/interest_complete.png") no-repeat center/100% auto;
}

.complete {
  padding: 50px 20px 0;
}
.complete__wrap {
  padding: 232px 0 130px;
  text-align: center;
  color: #0C0C0C;
  position: relative;
}
.complete__wrap:before {
  content: "";
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 130px;
  height: 130px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}
.complete__wrap.interesting:before {
  background-image: url("../images/interest_complete.png");
}
.complete__wrap.reset:before {
  background-image: url("../images/password_complete.png");
}
.complete--title {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 22px;
}

.password .btn_pink {
  margin-top: 36px;
}

.agree__box {
  margin: 20px 0 30px;
  padding: 16px 14px;
  background: rgba(231, 231, 231, 0.4);
  border-radius: 7px;
}
.agree__box label {
  font-weight: 700;
}
.agree__list {
  padding: 0 14px 50px;
}
.agree__list--onecheck {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.agree__list .btn_view {
  display: block;
  font-weight: 700;
  font-size: 14px;
  color: #939393;
  text-decoration-line: underline;
}

.mypage__profile {
  display: flex;
  gap: 25px;
  align-items: center;
}
.mypage__profile .image {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  overflow: hidden;
  flex: 0 0 auto;
}
.mypage__profile .image img {
  object-fit: cover;
}
.mypage__profile p {
  color: #0C0C0C;
  font-weight: 700;
  font-size: 17px;
  width: 70%;
}
.mypage__list {
  margin: 54px 0 0;
}
.mypage__list a {
  display: block;
  padding: 12px 30px;
  margin-bottom: 12px;
  color: #0C0C0C;
  font-size: 17px;
  position: relative;
}
.mypage__list a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}
.mypage__list a:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url("../images/arrow_right.png") no-repeat center/100% auto;
}
.mypage__list--info:before {
  background-image: url("../images/icon_info.png");
}
.mypage__list--activity:before {
  background-image: url("../images/icon_activity.png");
}
.mypage__list--alarm:before {
  background-image: url("../images/icon_alarm.png");
}
.mypage__list--agreement:before {
  background-image: url("../images/icon_agreement.png");
}
.mypage__version {
  margin: 36px 0 67px;
}
.mypage__version > p {
  padding: 12px 0;
  border-bottom: 1px solid #595959;
  color: #0C0C0C;
  font-size: 17px;
  font-weight: 500;
}
.mypage__version div {
  padding: 12px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
}
.mypage__version div span {
  color: #F366B4;
}
.mypage__logout {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.mypage__logout .btn {
  display: block;
  font-size: 15px;
  color: #5B5B5B;
}
.mypage__logout form:nth-of-type(1) .btn {
  position: relative;
}
.mypage__logout form:nth-of-type(1) .btn:after {
  content: "";
  position: absolute;
  right: -12px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 10px;
  background-color: #939393;
}
.mypage__modify--profile {
  padding: 20px 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  font-weight: 700;
  font-size: 17px;
}
.mypage__modify--profile button {
  position: relative;
}
.mypage__modify--profile button:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
  background: #FFFFFF url("../images/icon_camera.png") no-repeat center/20px 20px;
}
.mypage__modify--profile button .image {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  overflow: hidden;
}
.mypage__modify--profile button .image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.mypage__modify--profile p {
  text-align: center;
  padding: 0 10px;
  width: 100%;
}
.mypage__modify .interesting {
  text-align: center;
}
.mypage__modify .interesting__box {
  background: rgba(231, 231, 231, 0.3);
  border-radius: 12px;
  padding: 13px 22px;
  text-align: center;
}
.mypage__modify .interesting__box ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.mypage__modify .interesting__box li {
  width: 33.333%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
}
.mypage__modify .interesting__box .image {
  width: 76px;
  height: 76px;
  border-radius: 50%;
  overflow: hidden;
}
.mypage__modify .interesting__box .image img {
  object-fit: cover;
}
.mypage__modify .interesting__title {
  margin: 14px 0 7px;
  font-weight: 500;
  font-size: 15px;
}
.mypage__modify .interesting__desc {
  margin-bottom: 30px;
  font-size: 14px;
  color: #5B5B5B;
}
.mypage__tab {
  border-bottom: 1px solid #CECECE;
  padding: 0 35px 15px;
}
.mypage__tab a, .mypage__tab button {
  color: #939393;
  font-size: 15px;
  font-weight: 700;
  position: relative;
  margin-right: 36px;
}
.mypage__tab a:last-of-type, .mypage__tab button:last-of-type {
  margin-right: 0;
}
.mypage__tab a.is-selected, .mypage__tab button.is-selected {
  color: #0C0C0C;
}
.mypage__tab a.is-selected:after, .mypage__tab button.is-selected:after {
  content: "";
  position: absolute;
  bottom: -18px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #000000;
}
.mypage__tab--activity {
  padding: 22px 27px 6px;
}
.mypage__tab--activity a {
  color: #939393;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  margin-right: 35px;
}
.mypage__tab--activity a:last-of-type {
  margin-right: 0;
}
.mypage__tab--activity a.is-selected {
  color: #0C0C0C;
}
.mypage__tab--activity a.is-selected:after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #000000;
}
.mypage__agreement {
  padding: 23px 35px;
}
.mypage__agreement--title {
  font-weight: 800;
  font-size: 15px;
  margin-bottom: 10px;
}
.mypage__agreement--desc {
  font-weight: 500;
  color: #0C0C0C;
  font-size: 13px;
  margin-bottom: 20px;
}
.mypage__agreement--content {
  font-weight: 500;
  color: #5B5B5B;
  font-size: 13px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.mypage__project {
  padding: 27px 0 0;
}
.mypage__project--tab {
  padding: 0 20px;
  display: flex;
  gap: 9px;
  margin-bottom: 33px;
}
.mypage__project--tab a {
  border: 1px solid #000000;
  border-radius: 28px;
  font-weight: 700;
  padding: 8px 20px;
  font-size: 14px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mypage__project--tab a.is-selected {
  border: none;
  background: #0C0C0C;
  color: #FFFFFF;
}
.mypage__comment {
  margin-top: 22px;
}
.mypage__comment li {
  padding: 21px 0;
  border-bottom: 1px solid #E0E0E0;
  position: relative;
}
.mypage__comment p {
  width: 80%;
}
.mypage__comment .content {
  font-weight: 800;
  font-size: 14px;
  margin-bottom: 4px;
}
.mypage__comment .date {
  font-size: 12px;
}
.mypage__comment .title {
  margin: 12px 0 4px;
  padding: 2px 8px;
  background: #E7E7E7;
  font-size: 14px;
  color: #5B5B5B;
  display: inline-block;
  width: auto;
}
.mypage__comment .info {
  color: #5B5B5B;
  font-size: 12px;
}
.mypage__comment div {
  position: absolute;
  top: 21px;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.mypage__comment div a {
  font-weight: 700;
  font-size: 12px;
  border-radius: 5px;
  line-height: 25px;
  padding: 0px 10px;
}
.mypage__comment div button {
  font-weight: 700;
  font-size: 12px;
  border-radius: 5px;
  line-height: 25px;
  padding: 0px 10px;
}
.mypage__comment div .btn_modify {
  color: #FFFFFF;
  background: #5B5B5B;
}
.mypage__comment div .btn_delete {
  color: #5B5B5B;
  border: 1px solid #CECECE;
}
.mypage__inquire {
  margin-top: 40px;
}
.mypage__inquire--head {
  margin-bottom: 9px;
}
.mypage__inquire--head form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mypage__inquire--head .btn_pink {
  width: 132px;
  height: 41px;
}
.mypage__inquire--head .select_box.small {
  width: 110px;
  margin-top: 0;
}
.mypage__inquire--list .item {
  padding: 21px 0;
  border-bottom: 1px solid #E0E0E0;
}
.mypage__inquire--list .item.show .btn_answer_view:after {
  transform: rotate(180deg);
}
.mypage__inquire--list .item.show .answer {
  display: block;
}
.mypage__inquire--list .list_wrap {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.mypage__inquire--list .answer {
  padding: 15px;
  background: rgba(231, 231, 231, 0.3);
  margin-top: 21px;
  display: none;
}
.mypage__inquire--list .answer_wait {
  background: #CECECE;
  border-radius: 5px;
  font-weight: 700;
  color: #5B5B5B;
  font-size: 12px;
  line-height: 25px;
  padding: 0px 8px;
  display: inline-block;
  flex: 0 0 auto;
}
.mypage__inquire--list .answer_complete {
  background: #F366B4;
  border-radius: 5px;
  font-weight: 700;
  color: #fff;
  font-size: 12px;
  line-height: 25px;
  padding: 0px 8px;
  display: inline-block;
}
.mypage__inquire--list .answer_content {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 8px;
}
.mypage__inquire--list .answer_info {
  font-size: 12px;
  color: #5B5B5B;
}
.mypage__inquire--list .title {
  font-weight: 800;
  font-size: 14px;
  margin-bottom: 8px;
}
.mypage__inquire--list .content {
  font-weight: 500;
  font-size: 14px;
}
.mypage__inquire--list .image {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 15px 0;
}
.mypage__inquire--list .image img {
  width: 64px;
  height: 64px;
  border: 1px solid #DFDFDF;
  border-radius: 12px;
  object-fit: cover;
}
.mypage__inquire--list .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mypage__inquire--list .date {
  font-size: 12px;
  color: #5B5B5B;
}
.mypage__inquire--list .btn_answer_view {
  color: #F366B4;
  font-size: 14px;
  padding-right: 22px;
  font-weight: 500;
  position: relative;
}
.mypage__inquire--list .btn_answer_view:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 18px;
  background: url("../images/arrow_down_pink.png") no-repeat center/100% auto;
}
.mypage__notice {
  border-top: 1px solid #CECECE;
}
.mypage__notice--all {
  border-bottom: 1px solid #E7E7E7;
}
.mypage__notice--list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px;
  margin-top: 20px;
}

.information .select_box.small {
  width: 110px;
}
.information .main__info--slide {
  padding: 0;
}

.notice .select_box.small {
  width: 110px;
}
.notice .main__notice--list {
  padding: 0;
}
.notice .main__notice--list li:nth-of-type(1) a {
  padding-top: 20px;
}/*# sourceMappingURL=style.css.map */